/*
    1. 전체 공용
    2. 메인big
    3. 메인 first
    4. 메인 랭킹
    5. 메인 sec
    6. 메인 thrd
    7. 펀딩 시작하기    */


/*  1. 전체 공용  */

*{
    margin: 0;
    padding: 0;
}
h3{
    margin: 0px 10px;
    padding: 3px;
}
#per{
    color: #7b94ff;
    font-weight: 800;
}
/*  2. 메인big          */
#mainbig{
    margin: 0px auto;
    height: 300px;
}
/*#mainbig img{
    width: 12121px;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}*/
/*  3. 메인 first      */
.mainfirst{
    margin: 2px auto;
    float: left;
}
.mainFir{
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 10px;
    width: 184px; height: 240px;
    border: 1px solid silver;
}

#title{
    margin: 0px;
    font-weight: 800;
    font-size: 0.85em;
}
#name{
    margin: 5px 0px;;
    font-size: 0.5em;
}
#days{
    float: left;
    margin: 5px 0px;
}
#won{
    float: right;
    font-size: 0.9em;
    font-weight: bold;
    margin: 5px 0px;
}
.mainFir #per{
    position: relative;
    bottom: 48px;
    font-weight: 800;
    color: #7b94ff;
    float: right;
    margin: 5px 0px;
}

/*  4. 메인 랭킹        */
#tab{
    float: right;
    width: 300px; height: 400px;
    padding: 20px 7px;
    position: relative;
}
#tab ul li{
    list-style: none;
    display: inline-block;
    margin: 0px; padding: 0px;
    float: left;
    position: relative;

}
#tab ul li h3 a{
    margin: 0px;
    display: inline-block;
    padding: 5px 10px;
    border-top:1px solid silver;
    border-bottom:1px solid silver;
}
#tab a{
    text-decoration: none;
    color: black;
    font-size: 0.8em;
}
#tab h3+div{
    position: absolute;
    left: 50px;
    width: 350px;
    display: none;
}
#tab h3+div a{
    margin-left: 15px;
    display: block;

}
#title2{
    font-weight: 800;

}
#tab li p{
    padding: 0px;
    margin: 0px;
}
#lis2{
    position: fixed;
    right: 20px;
}
#tab>#per{
    float: left;
    padding: 0px 5px;
    margin: 0px 4px;
}
#cate{
    position: relative;
    bottom: 16px;
    float: right;
    padding: 0px 5px;
    margin: 0px 4px;
}

#lis1 a{
    width: 200px;
    position: relative;
    right: 50px;
}
#lis2 a{
    width: 200px;
    position: relative;
    right: 130px;
}

#item1{
    float: left;
    position: relative;
    right: 14px;

}
#item1img{
    position: relative;
    padding: 5px;
    right: 57px;
    bottom: 5px;
}
#item2{
    float: left;
    position: relative;
    right: 10px;

}
#item2img{
    position: relative;
    padding: 5px;
    right: 134px;
    bottom: 5px;
}
li img{
    width: 90px;
    position: relative;
}

/*  5. 메인 sec        */


.mainsec{
    clear: both;
    background-color: #cccccc;
    padding: 10px 0px 30px 0px;;

}
.mainsec ul{
    list-style: none;
    padding: 0px 25px;
}
.mainsec ul li{
    display: inline-block;
    width:  330px;
    padding: 0px 10px;
    border: 1px solid silver;
    margin: 10px;
    background-color: white;
}
.mainsec ul li a:link, :visited{
    color: #181818;
    text-decoration: none;
}
.mainsec img{
    float: right;
    position: relative;
    left: 10px;
}
.mainsec #title{
    padding: 7px 0px;
    font-size: 17px;
}
#nums{
    font-size: 0.9em;
    font-style: italic;
}

/*  6. 메인 thrd       */
.mainthr{
    margin: 30px;
    padding: 10px;
}
/*  7. 펀딩 시작하기     */
#barogagi{
    width: 100%;
    height: 45px;
    margin: 3px auto;
    padding: 4px 0px;

    background-color: #cccccc;


}
#barogagi p{
    color: #181818;
    text-align: center;
    font-size: 2em;

}

