/*
    1. 전체 공용
    2. 메인big
    3. 메인 first
    4. 메인 랭킹
    5. 메인 sec
    6. 메인 thrd
    7. 펀딩 시작하기    */


/*  1. 전체 공용  */
h3 {
    margin: 2px 10px;
    padding: 3px;
}

img {
    border-radius: 3px;
}

.per {
    color: #7b94ff;
    font-weight: 800;
}

a:link {
    text-decoration: none !important;
}

.subin {
    text-align: center;
    color: white;
    background-image: url('../img/main/big1.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 300px;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;

    height: 300px;
}

/*  2. 메인big          */

/*  3. 메인 first      */
.mainfirst {
    margin: 2px auto;
    padding: 27px 2px 40px 2px;
    float: left;
}

.mainFir {
    position: relative;
    display: inline-block;
    margin: 20px 14px;
    padding: 8px;
    width: 190px;
    height: 260px;
    border: 1px solid silver;
    border-radius: 10px;
}

.title {
    margin: 10px 5px;
    font-weight: 800;
    font-size: 0.85em;
}

.name {
    margin: 10px 5px;
    ;
    font-size: 0.8em;
}

.days {
    float: left;
    margin: 10px 5px;
}

.won {
    float: right;
    font-size: 0.9em;
    font-weight: bold;
    margin: 10px 5px;
}

.mainFir .per {
    position: relative;
    float: right;
    bottom: 60px;
    font-weight: 900;
    color: #7b94ff;
    margin: 10px 5px;
}

.mainFir a {
    width: 330px;
    margin: 0 auto;
}

#foot {
    clear: both;
    border: 1px solid silver;
    width: 190px;
    height: 20px;
    padding: 15px 10px;
    text-align: center;
    position: relative;
    bottom: 20px;
    right: 10px;
    background-color: antiquewhite;
    border-radius: 5px;
}

/*  4. 메인 랭킹        */
.tab {
    float: right;
    width: 300px;
    height: 400px;
    margin: 30px 5px;
    position: relative;
}

#toza, #reward{
    padding: 3px 6px 3px 10px;
    margin: 0px 7px;
    font-size: 0.9em;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;

}

html,
body {
    height: 100%
}

.ranking {}

.ranking ul {
    list-style: none;
    padding: 0px 25px;
}

.ranking ul li {
    width: 300px;
    height: 80px !important;
    padding: 0px 10px;
    margin: 10px 20px 0px 0px;
    background-color: white;
    position: relative;
    right: 30px;
}

.ranking ul li a:link,
:visited {
    color: #181818;
    text-decoration: none;
}

.ranking img {
    float: right;
    position: relative;
    right: 20px;
    width: 100px;
    height: 80px;
    padding: 0;
}

.ranking .title {
    font-size: 13px;
    margin: 0px;
    height: 45px;
    overflow: hidden;
    line-height: 21px;
    width: 180px
}

.nums,
.pers {
    padding: 8px;
    margin: 4px 0px 0px;

}

.pers {
    color: #7b94ff;
    font-weight: 800;
}

/*  5. 메인 sec        */


.mainsec {
    clear: both;
    background-color: #dfdfdf;
    padding: 18px 4px 30px 0px;
    margin: 20px 0px 15px 0px;
    ;

}

.mainsec ul {
    list-style: none;
    padding: 0px 25px;
}

.mainsec ul li {
    display: inline-block;
    width: 330px;
    padding: 0px 10px;
    border: 1px solid silver;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
}

.mainsec ul li a:link,
:visited {
    color: #181818;
    text-decoration: none;
}

.mainsec img {
    float: right;
    position: relative;
    left: 10px;
    width: 40%;
    padding: 0;
}

.mainsec .title {
    padding: 7px 0px;
    font-size: 17px;
}

.nums {
    font-size: 0.9em;
    padding: 3px
}

/*  6. 메인 thrd       */
.mainthr {
    margin: 20px;
    padding: 10px;
}

/*  7. 펀딩 시작하기     */
#barogagi {
    width: 50%;
    height: 45px;
    margin: 3px auto;
    padding: 4px 0px;

    background-color: #7b94ff;
    border-radius: 5px;
}

#barogagi a:link,
a:visited {
    text-decoration: none;
}

#barogagi p {
    color: white;
    text-align: center;
    font-size: 1.3em;
    margin: 0px;
    padding: 8px;
}



/* css 추가 */
.mainFir img{
    opacity: 0.5;
}
.mainFir img:hover{
    opacity: 1;
}


