/*
    1. 전체 공용
    2. 메인big
    3. 메인 first
    4. 메인 랭킹
    5. 메인 sec
    6. 메인 thrd
    7. 펀딩 시작하기    */


/*  1. 전체 공용  */

* {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 2px 10px;
    padding: 3px;
}

#per {
    color: #7b94ff;
    font-weight: 800;
}
a:link{
    text-decoration: none;
}

/*  2. 메인big          */
#mainbig {
    margin: 0px auto;
    height: 300px;

}

/*#mainbig img{
    width: 12121px;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}*/
/*  3. 메인 first      */
.mainfirst {
    margin: 2px auto;
    padding: 27px 2px 40px 2px;
    float: left;
}

.mainFir {
    position: relative;
    display: inline-block;
    margin: 20px 14px;
    padding: 8px;
    width: 190px;
    height: 260px;
    border: 1px solid silver;
}

#title {
    margin: 10px 5px;
    font-weight: 800;
    font-size: 0.85em;
}

#name {
    margin: 10px 5px;
    ;
    font-size: 0.8em;
}

#days {
    float: left;
    margin: 10px 5px;
}

#won {
    float: right;
    font-size: 0.9em;
    font-weight: bold;
    margin: 10px 5px;
}

.mainFir #per {
    position: relative;
    float: right;
    bottom: 60px;
    font-weight: 900;
    color: #7b94ff;
    margin: 10px 5px;
}

.mainFir a {
    width: 330px;
    margin: 0 auto;
}

#foot {
    clear: both;
    border: 1px solid silver;
    width: 190px;
    height: 20px;
    padding: 15px 10px;
    text-align: center;
    position: relative;
    bottom: 20px;
    right: 10px;
    background-color: antiquewhite;
}

/*  4. 메인 랭킹        */
#tab {
    float: right;
    width: 300px;
    height: 400px;

    padding: 27px 2px;
    position: relative;
}

#tab ul li {
    list-style: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    float: left;
    position: relative;

}

#tab ul li h3 a {
    margin: 5px 0px;
    display: inline-block;
    padding: 2px 10px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

#tab a {
    text-decoration: none;
    color: black;
    font-size: 0.8em;
}

#tab h3 + div {
    position: absolute;
    left: 50px;
    width: 350px;
    display: none;
}

#tab h3 + div a {
    margin-left: 15px;
    display: block;

}

#title2 {
    font-weight: 800;

}

#tab li p {
    padding: 0px;
    margin: 0px;
}

#lis2 {
    position: fixed;
    right: 20px;
}

#tab > #per {
    float: left;
    padding: 0px 5px;
    margin: 0px 4px;
}

#cate {
    position: relative;
    bottom: 16px;
    float: right;
    padding: 0px 5px;
    margin: 0px 4px;
}

#lis1 a {
    width: 200px;
    position: relative;
    right: 50px;
}

#lis2 a {
    width: 200px;
    position: relative;
    right: 130px;
}

#item1 {
    float: left;
    position: relative;
    right: 14px;
    padding: 7px 0px;

}

#item1img {
    position: relative;
    padding: 10px 0px;
    right: 57px;
    bottom: 5px;

}

#item2 {
    float: left;
    position: relative;
    right: 10px;
    padding: 7px 0px;

}

#item2img {
    position: relative;
    padding: 10px 0px;
    right: 134px;
    bottom: 5px;
}

li img {
    width: 90px;
    padding: 3px 0px;
    position: relative;
}

/*  5. 메인 sec        */


.mainsec {
    clear: both;
    background-color: #dfdfdf;
    padding: 18px 4px 30px 0px;
    margin: 20px 0px 15px 0px;
    ;

}

.mainsec ul {
    list-style: none;
    padding: 0px 25px;
}

.mainsec ul li {
    display: inline-block;
    width: 330px;
    padding: 0px 10px;
    border: 1px solid silver;
    margin: 10px;
    background-color: white;
}

.mainsec ul li a:link,
:visited {
    color: #181818;
    text-decoration: none;
}

.mainsec img {
    float: right;
    position: relative;
    left: 10px;
    width: 40%;
    padding: 0;
}

.mainsec #title {
    padding: 7px 0px;
    font-size: 17px;
}

#nums {
    font-size: 0.9em;
    font-style: italic;
    padding: 3px
}

/*  6. 메인 thrd       */
.mainthr {
    margin: 20px;
    padding: 10px;
}

/*  7. 펀딩 시작하기     */
#barogagi {
    width: 50%;
    height: 45px;
    margin: 3px auto;
    padding: 4px 0px;

    background-color: #7b94ff;
}

#barogagi a:link,
a:visited {
    text-decoration: none;
}

#barogagi p {
    color: white;
    text-align: center;
    font-size: 2em;
}
