/*  모바일  */
@media screen and (max-width:767px){

    body{
        /*background-color:ivory;*/
        width: 100%;
        font-size: 0.79em;
    }
    ul.mainnav li{
        position: relative;
        top: 4px;
        padding: 5px 0px;
    }
}

/*  태블릿  */
@media screen and (min-width:768px) and (max-width:1023px){
    body{
        width: 100%;
        /*background-color:lightblue;*/
    }
}

/*  pc  */
@media screen and (min-width:1024px){

    body{
        width: 804px;
       /*background-color: lightcyan;*/
    }

}

img {
	max-width: 1s0%;
	height: auto;
	width: auto\9; /* ie8 */
}

