
        .full{
            width: 100%;
            margin: 0 auto;
        }
/*coming soon*/
        .sheader{
            width: 100%;
        }
        .sheader h1{
            font-size: 50px;
            margin: 5% 0% 2% 0%;
            padding-left: 5%;
            padding-right: 5%;
        }

        .sheader p{
            margin-top: 0;
            margin-bottom: 3%;
            padding-left: 5%;
            padding-right: 5%;
        }

/*제품 이미지 & 내용*/
        .sbody{
            width: 100%;
            margin: 0 auto;
        }
/*상품 전체 틀*/
        .sbody>div{
            display: inline-block;
        }
/*상품 좌측*/
        .item1{
            width: 42%;
            padding-left: 5%;
        }
/*상품 우측*/
        .item2{
            width: 42%;
            padding-left: 5%;
            padding-right: 5%;
        }
/*상품 좌측상단 글자+제품 이미지*/
        .imgset img{
            display: block;
        }
        .imgset{
            transition: 0.5s;
            height: 37%;
            display: block;
        }
        .imgset:hover{
            transform: scale(1.1);
        }
/*상품사진 좌측상단 글자*/
        .sbody a:hover{
            font-weight: bold;
        }
        .imgName{
            position: absolute;
            margin: 7px;
            font-size: 12px;
            color: white;
            text-decoration: none;
            color: white;
            font-weight: bold;
            background-color: rgb(2,2,4,0.8);
        }
/*상품 제목 내용 제품담당*/
        .imgex{
            height: 200px;
            display: block;
        }
        .respon{
            opacity: 0.4;
            font-size: 12px;
            position: relative;
            top: -15px;
            text-decoration: none;
            color: black;
        }
        .sbody a:hover{
            font-weight: bold;
        }
/*상품 주문버튼*/
        .sbody #jumoon{
            transition: 0.3s;
        }
        .sbody #jumoon:hover{
            transform: scale(1.02);
        }
        .item1 input{
            width: 100%; height: 50px;
            background-color: #7b94ff ;
            border-radius: 20px;
            display: block;
            margin: 0 auto;
            margin-bottom: 10%;
            border-style: none;
        }
        .item2 input{
            width: 100%; height: 50px;
            background-color: #7b94ff ;
            border-radius: 20px;
            display: block;
            margin: 0 auto;
            margin-bottom: 10%;
            border-style: none;
        }
        .emp{
            clear: both;
        }
        .line{
            border: 2px solid silver;
            width: 500px;
            margin: 20px auto;
        }
        #jumoon{
            font-weight: bold;
            color: aliceblue;
        }
        #jumoon{
            font-size: 20px;
        }
        .rejumoon:hover{
            transform: scale(1.03);
        }
        .rejumoon{
            font-weight: bold;
            color: aliceblue;

        }

/*후기로 검증된 베스트 제품란*/
        .sfooter{
            padding-left: 5%;
            padding-right: 5%;
            margin-bottom: 5%;
        }
        .hugi{
            width: 100%;
            font-size: 22px;
            margin-bottom: 8px;
        }
        .hugi p{
            margin: 0;
        }
        .hugiimg{
            width: 37%;
            float: left;
        }
        .hugiimg:hover{
            transform: scale(1.03);
        }
        .hugiex{
            float: left;
            width: 55%;
            padding-left: 5%;
        }
        .hugiex input{
            margin: 0px;
            width: 40%;height: 40px;
            margin-top: 10%;
            background-color: #7b94ff ;
            border-style: none;
            border-radius: 20px;
        }


/*팝업창 관련*/
        .popupfull{
            background-color: rgb(0,0,0,0.6);
            width: 100%;height: 100%;
            position: fixed;
            top: 0;left: 0;
            z-index: 100;
            display: none;
/*            visibility: hidden;*/
        }
        .popupall{
            background-color: rgb(0,0,0,0.2);
            width: 100%;height: 100%;
            position: fixed;
            top: 0;left: 0;
            z-index: 200;
        }
        .popupset{
            background-color: white;
            width: 50%;height: 30%;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%,-50%);
            z-index: 300;
        }
        .popupin1{
            color: black;
            display: block;
            width: 40%;
            position: absolute;
            left: 30%; top: 25%;
            font-style: italic;
        }
        .popupin1 input{
            border-style: none;
            border-bottom-style:groove;
        }
        .popupin1 input:focus{
            border-bottom-style: double;
        }
        .popupin2 input{
            border-style: none;
            border-bottom-style:groove;
        }
        .popupin2 input:focus{
            border-bottom-style: double;
        }
        .popupin2{
            color: black;
            display: block;
            width: 40%;
            position: absolute;
            left: 30%; top: 45%;
            font-style: italic;
        }
        .popupbtn{
            position: absolute;
            left: 45%; top: 70%;
        }

























