/*
    1. 전체 프레임
    2. 셀펀 로고 및 소개
    3. 펀딩 단계
    4. 서로 다른 관점에서의 셀펀
    5. 셀펀의 장점 3
    6. 펀딩 신청 규약
    7. 펀딩 시작하기 버튼
*/

/*  1. 전체 프레임   */
a:link, a:visited, a:active a:focus, a:hover{
    text-decoration: none !important;
    color: #181818;
}
/*  2. 셀펀 로고 및 소개   */
#mainimg{

}

#logoex{
    padding: 2% 2%;
    text-align: center;
    border-bottom: 1px solid silver;
}

#logoex img{
    padding: 15px;
}
#logoex p{
    padding: 2% 4%;
    font-size: 1.2em;

}
/*  3. 펀딩 단계    */
#maru{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid silver;
}

#maru img{
    width: 180px;
}

#maru1 p{
    width: 180px;
}
#maru1{
    display: inline-block;
    vertical-align: text-top;
    padding: 15px 30px;
}
#startProject{
    text-align: center;
    width: 300px; height: 30px;
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    margin: auto;

    margin-top: 20px !important;
    margin-bottom: 50px !important;
    border-radius: 5px;

}
/*  4. 서로 다른 관점에서의 셀펀   */
#for{
    text-align: center;
    padding: 20px 20px 0px 20px;
    border-bottom: 1px solid silver;
}
#fors{
    display: inline-block;
    vertical-align: text-top;
    padding: 15px 5px;
    width: 240px;
}
#forwho{
    font-size: 24px;
}

#makeline{
    border: 2px solid pink;
    width: 130px;
    padding: 0px 40px;
    margin: 10px auto;
}
#brandline{
    border: 2px solid skyblue;
    width: 130px;
    padding: 0px 40px;
    margin: 10px auto;
}
#campline{
    border: 2px solid lightgreen;
    width: 130px;
    padding: 0px 40px;
    margin: 10px auto;
}

#tit{
    font-size: 15px;
    font-weight: 600;
}
#exp{
    font-size: 15px;
    height: 180px
}

#makebtn{
    background-color: pink;
    width: 180px;
    margin: 0px auto;
    margin-bottom: 50px !important;
    padding: 7px ;
    font-weight: 700;
    border-radius: 5px;
}
#brandbtn{
    background-color: skyblue;
    width: 180px;
    margin: 0 auto;
    margin-bottom: 50px !important;
    padding: 7px;
    font-weight: 700;
    border-radius: 5px;
}
#campbtn{
    background-color: lightgreen;
    width: 180px;
    margin: 0 auto;
    margin-bottom: 50px !important;
    padding: 7px;
    font-weight: 700;
    border-radius: 5px;
}
/*  5. 셀펀의 장점   */


/*  6. 펀딩 신청 규약 */
#strtproj{
    padding: 20px;
    border-bottom: 1px solid silver
}
#strtproj #fors{
    display: inline-block;
    vertical-align: text-top;
}

#strtproj #tit{
    padding: 5px;
    margin: 0px;
}

#strtproj #exp{
    padding: 5px;
}

#hs{
    font-size: 22px !important;
    text-align: center;
    font-weight:700;
}


/*  7. 펀딩 시작하기 버튼 */
#start{
  text-align: center;
  color: black;
  background-image: url('../img/menu1/menu1last.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 200px;
  left: 0;
  min-width: 100%;
}

#last1{
    margin: 20px auto;
    width:  160px;
    height: 20px;
    text-align: center;
    padding: 15px;
    color: white;
    font-weight: 700;
    background-color: #181818;
    border-radius: 5px;
}


