/*wrap 시작*/

.wrap
{
    margin: 0px;
    padding: 0px;
}

/*main img css 시작*/
#main_img_wrap
{
    text-align: center;
  color: white;
  background-image: url('../img/menu5/05_modify.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 160px;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
}

#main_img_wrap #container #intro_text
{
    margin: 100px auto 20px;
}

#main_img_wrap #container #intro_text h2
{
    text-align: left;
    text-shadow: 2px 2px 4px #000000;
    font-size:3em;
    font-weight: bold;

}

#main_img_wrap #container #intro_button
{
    margin: 0px auto;
    text-align: left;
}

#main_img_wrap #container #intro_button .btn1
{
    padding: 20px;
    margin-bottom: 10px;
}

#main_img_wrap #container #intro_button .btn1 h2
{
    text-align: left;
    font-weight: bold;
    margin: 0px;
}

#main_img_wrap #container #intro_button .btn1 h4
{
    text-align: left;
    color:#777777;
    padding: 0px;
    margin: 10px 0px 0px 0px;
}

#main_img_wrap #container #intro_button .btn2
{
    padding: 20px;
    margin-bottom: 10px;
}

#main_img_wrap #container #intro_button .btn2 h2
{
    text-align: left;
    font-weight: bold;
    margin: 0px;
}
#main_img_wrap #container #intro_button .btn2 h4
{
    text-align: left;
    color:#777777;
    padding: 0px;
    margin: 10px 0px 0px 0px;
}


/*main img css 끝*/

#padding{width: 100%;}

/*content1 css 시작*/
#content1
{
    padding: 0px;
    margin: 0px;
    width:100%;
}

#content1 #inner_text
{
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#content1 #inner_text h1,h6
{
    padding: 0px;
    margin: 0px;
}

#content1 #inner_list
{
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#content1 #inner_list li:first-child
{
    padding: 0px;
    display: inline-block;
}
#content1 #inner_list li:nth-child(n+2)
{
    padding: 0px;
    display: inline-block;
}

/*content1 css 끝*/


/* content2 css 시작*/

/* content2 : case list 시작 */
#content2
{
    text-align: center;
  color: white;
  background-color:#cccccc;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 1300px;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
}

/* content2 : case list 끝 */

/* content2 : container 시작 */

/* SOME STYLES JUST TO SEE BUTTONS ;) */

.tabs-menu div { cursor:pointer; display:inline-block; border:0.5px #181818 solid; padding:5px 5px; margin:5px;
border-radius: 10px;}
.tabs-menu div:hover { background:#000000; color:#ffffff; }
.css-switcher div { cursor:pointer; display:inline-block; border:1px #000000 solid; padding:5px 20px; margin:20px; }
.css-switcher div:hover { background:#000000; color:#ffffff; }
.css-switcher div.active { background:#000000; color:#ffffff; }


/* HERE COMES IMPORTANT STYLES */

/* hiding and showing tabs */

.tabs div {
	display:none;
}

.tabs div.current {
	display:block;
}

/* highlighting selected tab menu */

.tabs-menu div.active {
	background:#000000; color:#ffffff;
}

/* content2 : container 끝 */

/*content2 css 끝*/



/*contetn3 css 시작 */
#content3
{
    margin:0px;
    padding:0px;
}

#content3 #contatiner
{
    margin:0px;
    padding:0px;
}

#content3 #container #item_list #item1 h4,h6
{
    margin:0px;
    padding:0px;
}

#content3 #container #item_list #item2 h4,h6
{
    margin:0px;
    padding:0px;
}

#content3 #container #item_list #item3 h4,h6
{
    margin:0px;
    padding:0px;
}

#content3 #container #item_list #item4 h4,h6
{
    margin:0px;
    padding:0px;
}
/*contetn3 css 끝 */



/*content5 시작 */
#content4
{
text-align: center;
  color: white;
  background-color:#cccccc;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 1900px;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
}

/*content5 끝 */
















.clear
{
    clear:both;
    padding: 0px;
    margin: 0px;
}

