

/*wrap 시작*/
.wrap
{
    margin: 0px;
    padding: 0px;
}

/*main img css 시작*/
#main_img_wrap
{
    text-align: center;
  color: white;
  background-image: url('../img/menu5/05_modify.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  position: absolute;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
}

#main_img_wrap #container #intro_text
{
    margin: 100px auto 20px;
}

#main_img_wrap #container #intro_text h2
{
    text-align: left;
    text-shadow: 2px 2px 4px #000000;
    font-size:3em;
    font-weight: bold;

}

#main_img_wrap #container #intro_button
{
    margin: 0px auto;
}

#main_img_wrap #container #intro_button .btn1
{
    padding: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

#main_img_wrap #container #intro_button .btn1 h2
{
    text-align: left;
    font-weight: bold;
    margin: 0px;
}

#main_img_wrap #container #intro_button .btn1 h4
{
    text-align: left;
    color:#777777;
    padding: 0px;
    margin: 10px 0px 0px 0px;
}

#main_img_wrap #container #intro_button .btn2
{
    padding: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

#main_img_wrap #container #intro_button .btn2 h2
{
    text-align: left;
    font-weight: bold;
    margin: 0px;
}
#main_img_wrap #container #intro_button .btn2 h4
{
    text-align: left;
    color:#777777;
    padding: 0px;
    margin: 10px 0px 0px 0px;
}


/*main img css 끝*/

#padding{width: 100%;}

/*content1 css 시작*/
#content1
{
    padding: 0px;
    margin: 0px;
    width:100%;
}

#content1 #content1_text
{
    padding: 0px;
    margin: 40px 0px;
    text-align: center;
}

#content1 #content1_text h1,#content1_text h6
{
    padding: 0px;
    margin: 0px;
}

#content1 #content1_list
{
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#content1 #content1_list ul
{
    padding: 0px;
    margin: 0px;
}

#content1 #content1_list li:first-child
{
    padding: 0px;
    display: inline-block;
}
#content1 #content1_list li:nth-child(n+2)
{
    padding: 0px;
    display: inline-block;
}

/*content1 css 끝*/


/* content2 css 시작*/

/* content2 : case list 시작 */
#content2
{
  text-align: center;
  color: rgb(150,150,150);
  background-color: rgb(247,247,247);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  position: absolute;

  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
}

/* content2 : case list 끝 */

/* content2 : container 시작 */

/* SOME STYLES JUST TO SEE BUTTONS ;) */
.tabs-menu {text-align: left; }
.tabs-menu div { cursor:pointer; display:inline-block; border:0.5px rgb(210,210,210) solid; padding:5px 5px; margin:0px;
border-radius: 10px;}
.tabs-menu div:hover { border:1px solid #7b94ff; color:#7b94ff; }
.css-switcher div { cursor:pointer; display:inline-block; border:1px #000000 solid; padding:5px 20px; margin:20px; }
.css-switcher div:hover { border:1px solid #7b94ff; color:#ffffff; }
.css-switcher div.active { border:1px solid #7b94ff; color:#ffffff; }


/* HERE COMES IMPORTANT STYLES */

/* hiding and showing tabs */

.tabs div {
	display:none;
}

.tabs div.current {
	display:block;
}

/* highlighting selected tab menu */

.tabs-menu div.active {
	border:1px solid #7b94ff; color:#7b94ff;
}

/* content2 : items 시작 */

/*item시작*/
#content2 .container
{
/*  width:1020px;*/
  margin:0px auto;
}
#content2 .container h2
{
    text-align: left;
    color:#181818;
}
.tabs .tab .item
{
    width: 490px;
    border: 1px solid black;

    padding: 0px;
    margin: 20px 10px 20px 0px;

    background-color: white;
    cursor: pointer;
}
.tabs .tab .item img
{
/*    width: 50%;*/
    height:100%;
    margin:0px;
    padding:0px;
    float: left;
}
.tabs .tab .item .content2_text
{
/*    width: 47%;*/

    height: 100%;
    margin:0px;
    padding-top:20px;
    padding-left:10px;
    float: right;
    text-align: left;
}
.tabs .tab .item .content2_text h4, .content2_text h6, .content2_text h5
{margin:0px;padding: 0px;color:black;}
.tabs .tab .item .content2_text h6
{
    display: inline-block;
}
/*item끝*/
/* content2 : items 끝 */

/* content2 : container 끝 */

/*content2 css 끝*/



/*contetn3 css 시작 */
#content3
{
    padding:0px;
}

#content3 #container
{
    padding:0px;
}

#content3 #container #content3_title h4
{
    margin: 0px;
    padding: 0px;
}

#content3 #container #more_list
{
    text-align: right;
    margin: 0px;
    padding: 0px;
}

#content3 #container #more_list h6
{
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

#content3 #container #item_list
{
    margin: 30px 0px;
    padding: 0px;
    width: 100%;

}

#content3 #container #item_list .item
{
    margin:0px;
    padding:0px 0px 10px 0px;
    cursor: pointer;
}

#content3 #container #item_list .item .content3_Text
{
    margin: 0px;
    padding: 0px;
    width:75%;
    height: 60px;
    float: left;

}

#content3 #container #item_list .item .content3_image
{
    margin: 0px;
    padding: 2px;
    height: 56px;
    float:right;
}

#content3 #container #item_list .item h4,#item_list .item h6
{
    margin:0px;
    padding:0px;
}
/*contetn3 css 끝 */



/*content4 시작 */
#content4
{
  text-align: center;
  color: white;
  background-image : url('../img/menu5/05_email.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  position: absolute;

  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
}

#content4 #container
{
    /*    width:800px;*/
    padding: 0px;
    margin:0px auto;
}

#content4 #container .content4_text
{
    padding: 0px;
    text-align: left;
}

#content4 #container .content4_text>h3, .content4_text>h4
{
    margin: 0px;
    padding: 0px;
    text-shadow: 2px 2px 4px #000000;
    font-size:2em;
    font-weight: bold;
    text-align: left;
}

#content4 #container .item_list
{
    padding: 0px;

}

#content4 #container .item_list #form_list
{
    padding: 0px;
    margin: 0px;
    text-align: left;
}

#content4 #container .item_list #form_list #textbox
{
    height:40px;
}

#content4 #container .item_list #form_list select
{
    height:40px;
    margin-bottom: 10px;
}

#content4 #container .item_list #form_list input,#form_list h6,#form_list label
{
    padding: 0px;
    margin: 0px 0px 11px 0px;
    display: block;
}

#content4 #container .item_list #form_list #checkbox_agree input, #checkbox_agree label
{
    padding: 0px;
    margin: 0px;
    display: inline;
}

#content4 #container .item_list #form_list #contract
{
    padding: 10px 0px;
    font-size:0.1em;
    width:30%;
    cursor: pointer;

}

#content4 #container .item_list #form_list #CT_content
{
    padding: 0px;
    margin: 0px 0px 10px 0px;
    display: none;
    width:250px;
    font-size: 1px
}

#content4 #container .item_list #form_list #CT_content .CT_content_itme1
{
    float: left;
    width:20%;
    margin-left:1px;
}

#content4 #container .item_list #form_list #CT_content .CT_content_itme2
{
    float: right;
    width: 79%;
}

#content4 #container .item_list #form_list #form_submit
{
    width:150px;
    height: 50px;
    cursor: pointer;
}

/*content4 끝 */


/* 기타 css 시작 */

.clear
{
    clear:both;
    padding: 0px;
    margin: 0px;
}

.item_left
{
   float:left;
}
.item_right
{
   float:right;
}

/* 기타 css 끝 */
