#cate1 li{
    list-style: none;
    display: inline-block;
}
#cate1 li a{

}
#cate1 li a img{
    width: 50px; height: 50px;
    border: 1px solid silver;
    background-color: gray;
    border-radius: 50%;
}
#cate2 li{
    list-style: none;
    display: inline-block;
}
#cate2 li a{
    font-size: 13px;
    border: 1px solid silver;
    text-decoration: none;
    color: #181818;
}
#sea{
   width: 150px;
   border: 1px solid silver
}

#search{
    width: 100px;
    border-color: white;
}
botton{

}
.category{
    width: 185px;
    display: inline-block;
    margin-right: 15px;
}
