/*
    1. 전체 프레임
    2. 셀펀 로고 및 소개
    3. 펀딩 단계
    4. 서로 다른 관점에서의 셀펀
    5. 셀펀의 장점 3
    6. 펀딩 신청 규약
    7. 펀딩 시작하기 버튼
*/

/*  1. 전체 프레임   */
*{
    margin: 0;
    padding: 0;
}
/*  2. 셀펀 로고 및 소개   */

#logoex{
    padding: 2% 2%;
    text-align: center;
    border-bottom: 1px solid silver;
}
#logoex h4{
    font-weight: bold;
    padding: 20px;
}
#logoex img{
    padding: 15px;
}
#logoex p{
    padding: 2% 2%;
    font-size: 1.4em;

}
/*  3. 펀딩 단계    */
#maru{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid silver;
}

#maru img{
    width: 150px;
}

#maru1 p{
    width: 140px;
}
#maru1{
    display: inline-block;
    vertical-align: text-top;
    padding: 15px 50px;
}
#startProject{
    text-align: center;
    width: 300px; height: 50px;
    background-color: cornflowerblue;
    color: white;
    font-size: 24px;
    font-weight: 700;
    padding: 8px;
    margin: 0 auto;

}
/*  4. 서로 다른 관점에서의 셀펀   */
#for{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid silver;
}
#fors{
    display: inline-block;
    vertical-align: text-top;
    padding: 15px 20px;
    width: 240px;
}
#forwho{
    font-size: 24px;
}

#makeline{
    border: 2px solid pink;
    width: 180px;
    padding: 0px 40px;
    margin: 10px auto;
}
#brandline{
    border: 2px solid skyblue;
    width: 180px;
    padding: 0px 40px;
    margin: 10px auto;
}
#campline{
    border: 2px solid lightgreen;
    width: 180px;
    padding: 0px 40px;
    margin: 10px auto;
}

#tit{
    font-size: 16px;
    font-weight: 600;
}
#exp{
    font-size: 13px;
    height: 160px
}

#makebtn{
    background-color: pink;
    width: 150px;
    margin: 0 auto;
    padding: 7px;
    font-weight: 700;
}
#brandbtn{
    background-color: skyblue;
    width: 150px;
    margin: 0 auto;
    padding: 7px;
    font-weight: 700;
}
#campbtn{
    background-color: lightgreen;
    width: 150px;
    margin: 0 auto;
    padding: 7px;
    font-weight: 700;
}
/*  5. 셀펀의 장점   */


/*  6. 펀딩 신청 규약 */
#strtproj{
    padding: 20px;
    border-bottom: 1px solid silver
}
#strtproj #fors{
    display: inline-block;
    vertical-align: text-top;
}

#strtproj #tit{
    padding: 5px;
    margin: 0px;
}

#strtproj #exp{
    padding: 5px;
}

#hs{
    font-size: 20px;
    text-align: center;
    font-weight:
}


/*  7. 펀딩 시작하기 버튼 */
#start{
  text-align: center;
  color: black;
  background-image: url('../img/menu1/menu1last.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 200px;
  left: 0;
  min-width: 100%;
}

#last1{
    margin: 20px auto;
    width:  160px;
    height: 50px;
    text-align: center;
    padding: 15px;
    color: white;
    font-weight: 700;
    background-color: #181818;
    border-radius: 5px;
}


