.fas fa-angle-left{
    border: 1px solid transparent;
}
.fas fa-angle-right{
    border: 1px solid transparent;
}
#category{
    position: relative;
    top: 0px;
    margin: 10px;
    padding-left: 0px;
}
#category li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px 5px 0px
}
#category li a{
    text-decoration: none;
}
#category li a img{
    width: 60px; height: 60px;
    border: 1px solid transparent;
    background-color: gray;
    border-radius: 50%;
}

#category li a span{
    color: #181818;
    font-size: 12px;
    font-weight: 700;
    position: relative;
}
/*form 전체보기 search select*/
#block1{
    margin: 13px 0px;
}
#block1 b{
    font-size: 22px;
}
#searchbox{
    width: 375px;
    border: 1px solid transparent;
    float: right;
}
#search{
    width: 150px;
    padding: 5px;
    border: 1px solid transparent;
}
#searchicons{
    border: 1px solid transparent;
    background-color: white;
    padding: 5px 7px;
}
select{
    display: inline-block;
    width: 80px;
    margin: 3px; padding: 5px;
    border: 1px solid transparent;
}
#block1line{
    width: 100%; height: 1px;
    background-color: rgb(224, 224, 224);
    margin-bottom: 15px;
}
/*thumbnail 전체보기*/
#block2{
    width: 100%;
}
.thumbnail{
    width: 244px;
    display: inline-block;
    margin: 10px 10px 40px;
}
.thumbnail img{
    width: 245px; height: 150px;
    border-radius: 3%;
}
.thumbnail a{
    text-decoration: none;
}
.thumbnail a{
    color: #181818;
}
.thumbnail p{
    margin-top: 5px;
    font-size: 11px;
    font-weight: 700;
    color: rgb(127, 127, 127);
}
.thumbnail .line{
    width: 245px; height: 2px;
    background-color: #7b94ff;
}
.thumbnail .num{
    font-size: 15px;
    color: #7b94ff;
}
.thumbnail span{
    font-size: 13px;
    font-weight: 700;
    color: rgb(127, 127, 127);
}
.thumbnail .success{
    color: #7b94ff;
}
.thumbnail .right{
    float: right;
    position: relative;
    top: 3px;
}
