#hol {
    width: 800px;
    height: 75px;
    background-color: gray;
}

#jjack {
    width: 800px;
    height: 75px;
}

#name {
    margin: 20px;
}

#day {
    font-size: 13px;
    color: #C6C6C6;
}

#in {
    width: 757px;
    height: 520px;
    white-space:pre-line;
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 30px;
    display: none;
}

#in2 {
    width: 767px;
    height: 400px;
    white-space:pre-line;
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 15px;
    display: none;
}
