.sheader{
    width: 100%;
    text-align: center;
}
.sheader>section{
    width: 100%;
    margin: 0 auto;padding: 10px 0;
    background-color:  #EAEAEA;
}
.sheader h3{
    margin: 0;
}
.sbody{
    width: 100%;
}
.sbody div{
    width: 90%;
    display: inline-block;
}
p button{
    font-size: 120%;
    display: inline-block;
    float: right;
    border-radius: 50%;
    border-style: none;
    background-color: white;
}
p button:hover{
    background-color: #7b94ff;
}
p i:hover{
/*    color: #7b94ff;*/
}
.sbodyH{
    padding-left: 5%;
    padding-right: 5%;
}
.sbodyD p{
    padding: 4% 7%;
}
.sbody>.sbodyD{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    display: none;
}








/* #7b94ff (메인컬러) / #181818 (검정) / #cccccc(회색)*/
