/*like*/
#likeorder{
    width: 100%;

    border-top: 1px solid rgb(158, 158, 158);
}
#likeorder b{
    width: 50%;
    margin-bottom: 5px;
        border-bottom: 1px solid rgb(158, 158, 158);
}
#left{
    float: left;
    padding: 12px;
    text-align: center;
    border-right: 1px solid rgb(224, 224, 224);
}
#right{
    float: left;
    padding: 12px;
    text-align: center;
}
#likeorder b a{
    text-decoration: none;
    color: rgb(158, 158, 158);
}
.like{
    width: 29.7%;
    display: inline-block;
    margin: 5px 13px;
}
.like img{
    margin-right: 0px;
    width: 100%; height:250px;
    margin-bottom: 10px;
}
/*.like #heart1{
    font-size: 24px;
    position: relative;
    bottom: 37px;
    left: 165px;
    color: black;
    display: none;
}*/
/*.like #heart2{
    font-size: 24px;
    position: relative;
    bottom: 37px;
    left: 138px;
    color: black;
}*/
.like b{
    text-decoration: none;
    font-size: 12px;
    color: #181818;
}
.money{
   margin: 5px 0px;
   font-size: 11px;
   color: rgb(127, 127, 127);
}
.day{
    font-size: 11px;
    color: red;
}
.day span{
    font-weight: 700;
}
.order{
    font-size: 12px;
    font-weight: 800;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid silver;
    margin-top: 10px;
}
