/*like*/
#likeorder{
    width: 100%;
    border-top: 1px solid rgb(224, 224, 224);
}
#likeorder b{
    /*width: 50%;*/
    margin-bottom: 13px;
    border-bottom: 1px solid rgb(224, 224, 224);
    background-color: rgb(224, 224, 224,0.5);
}
#left{
    width: 50%;
    float: left;
    padding: 10px 0px;;
    text-align: center;
    border-right: 1px solid rgb(158, 158, 158);
}
#right{
    width:49.8%;
    float: right;
    padding: 10px 0px;
    text-align: center;
}
#likeorder b a{
    text-decoration: none;
    color: rgb(158, 158, 158);
}
.likebox{
    margin: auto;
}
.like{
    width: 30%;
    display: inline-block;
    margin: 0px 11.5px 5px;
}
.like img{
    min-width: 160px;
    width: 100%; height:250px;
    margin-bottom: 10px;
}
#heart1{
    font-size: 24px;
    position: relative;
    left: 210px;
    top: 248px;
    color: red;
}
#heart2{
    font-size: 24px;
    position: relative;
    left: 210px;
    top: 248px;
    color: red;
}
#heart3{
    font-size: 24px;
    position: relative;
    left: 210px;
    top: 248px;
    color: red;
}
.like b{
    text-decoration: none;
    font-size: 12px;
    color: #181818;
}
.money{
   margin: 5px 0px;
   font-size: 11px;
   color: rgb(127, 127, 127);
}
.day{
    font-size: 11px;
    color: red;
}
.day span{
    font-weight: 700;
}
.order{
    font-size: 12px;
    font-weight: 800;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid silver;
    margin-top: 10px;
}
