/*------------------------------------------------*/

/*wrap 시작*/

.wrap
{
    margin: 0px;
    padding: 0px;

}

#event_title
{
    margin-top:40px;
    text-align: center;
    font-size:3.5em;
}

#event1
{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

#event1 #section1 h3:hover
{
    cursor: pointer;
    text-decoration: underline;
}

#event1 #section1
{
    margin: 10px 0px 10px 10px;
    padding: 10px 0px 10px 10px;
    float:left;
    width:65%;
}

#event1 #section1 h3
{
    margin: 3px 0px 10px 0px
}

#event1 #div_img1
{
    float:right;
    width:25%;
    margin-top:40px;
    margin-right:0px;
}
#event1 #mini_title h4,h5
{
    display: inline;
}

#event1 #mini_footer h6
{
    display: inline;
}
.ongoing{
    color: #7b94ff;
}




























#clear
{
    clear: both;
}
