@media screen and (max-width:767px){
/*    goods css 시작*/
    #last_menu{width: 100%;}
/*    goods css 끝*/
}
@media screen and (min-width:768px) and (max-width:1023px){
    /*    goods css 시작*/
    #last_menu{width: 100%;}
    /*    goods css 끝*/
}
@media screen and (min-width:1024px){
    /*    goods css 시작*/
    #last_menu{width: 804px;}
    /*    goods css 끝*/
}
