/*  모바일  */
@media screen and (max-width:767px) {
    #foot{
        margin: 20px auto ;
        position: relative;
        top: 15px;
        left: 1px;

    }
    .tab h3{
        font-size: 1.6em;
        position: relative;
        right: 15px;
    }
    .tab{
        position: relative;
        left: 16px;
    }

    * {
        margin: 0px auto;
        padding: 0;

    }
    img{
        border-radius: 6px;
    }
    body {
        /*background-color:ivory;*/
        width: 90%;
        font-size: 0.79em;
    }
    ul.mainnav li {
        position: relative;
        top: 4px;
    }

    h3 {
        font-size: 1.8em;
    }

    .mainbig img {
        margin: 0px auto;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 34px !important;
    }

    .mainfirst {
        margin: 2px auto;
        padding: 10px 5px 5px 15px !important;
        float: left;
    }

    .mainFir {
        margin: 6px;
        padding: 8px;
        width: 90% !important;
        height: 20% !important;
        border: 1px solid silver;
    }

    .foot {
        display: none;
        clear: both;
        border: 1px solid silver;
        width: 190px;
        height: 20px;
        padding: 15px 10px;
        text-align: center;
        position: relative;
        bottom: 20px;
        right: 10px;
        background-color: antiquewhite;
    }

    .title {
        margin: 10px 5px;
        font-weight: 800;
        font-size: 1.5em !important;
    }

    .name {
        margin: 10px 5px;
        font-size: 1.2em !important;
    }

    .days {
        float: left;
        margin: 10px 5px;
        font-size: 1.3em;
    }

    .won {
        float: right;
        font-size: 1.4em !important;
        font-weight: bold;
        margin: 10px 5px;
    }

    .per {
        float: right;
        font-size: 1.4em !important;
        font-weight: bold;
        margin: 10px 5px;
        position: absolute;
        left: 105px;
        top: -22px;
    }

    .mainFir a {
        width: 330px;
        margin: 0 auto;
    }


    /* 랭킹 */
    html,
    body {
        height: 100%
    }
    .ranking ul {
        list-style: none;
        padding: 0px;
        margin: 10px 14px 10px 0px;
    }

    .ranking ul li {
        width: 100%;
        height: 80px !important;

        padding: 5px 0px;
        margin: 0px 5px 0px 10px;
        background-color: white;
    }

    .ranking ul li a:link,
    :visited {
        color: #181818;
        text-decoration: none;
    }

    .ranking img {
        float: right;
        position: relative;
        height: 82px;
        padding: 0;
    }

    .ranking .title {
        padding: 5px;
        font-size: 12px !important;
        margin: 0px;
        height: 50px;
        overflow: hidden;
        line-height: 18px;
        width: 150px;
    }
    .pers {
        padding: 5px 5px 10px 10px;
        margin: 2px 0px 5px;
        font-size: 1.2em !important;
    }
    .pers {
        color: skyblue;
        font-weight: 900;
    }

    .tab{
        margin: 0px 0px 50px;
    }
    /*  5. 메인 sec        */
    .mainsec {
        clear: both;
        width: 120% !important;
        background-color: #dfdfdf;
        padding: 40px 10px;
        position: relative;
        right: 20px;
    }

    .mainsec ul {
        list-style: none;
        padding: 0px 25px;

    }

    .mainsec ul li {
        display: inline-block;
        width: 330px;
        padding: 0px 0px;
        border: 1px solid silver;
        margin: 10px;
        background-color: white;
        position: relative;
        right: 23px;
    }

    .mainsec ul li a:link,
    :visited {
        color: #181818;
        text-decoration: none;
    }

    .mainsec img {
        float: right;
        position: relative;
        left: 0px;
        width: 120px;
        padding: 0;
    }

    .mainsec .title {
        padding: 7px 3px;
        font-size: 16px !important;
    }

    .nums {
        font-size: 0.9em;
        font-style: italic;
        padding: 3px
    }

    /*  6. 메인 thrd       */
    .mainthr {
        margin: 10px;
        padding: 1px;
    }

    /*  7. 펀딩 시작하기     */
    #barogagi {
        width: 50%;
        height: 45px;
        margin: 3px auto;
        padding: 4px 0px;
        background-color: #7b94ff;
    }

    #barogagi a:link,
    a:visited {
        text-decoration: none;
    }

    #barogagi p {
        color: white;
        text-align: center;
        font-size: 1.2em;
        padding: 13px 0px;
        font-weight: 700;
    }

    #blog {
        margin: 4px;
    }

    #blog a:visited,
    #blog a:link {
        font-size: 0.6em;
    }
}

/*  태블릿  */
@media screen and (min-width:768px) and (max-width:1023px) {
    .tab h3{
        padding: 15px 40px;;
    }

    .mainsec h3{
        padding: 15px 30px;
    }
    body {
        width: 75%;
        /*background-color:lightblue;*/
    }

    img{
        border-radius: 6px;
    }
    .mainfirst {
        padding: 2% 7%;
        align-content: center;
        align-items: center;
    }

    .mainFir {
        padding: 8px;
        margin: 14px;
    }

    /*실시간 랭킹*/
    html,
    body {
        height: 100%
    }
    .tab{
        width: 100%;
        height: 560px;
    }
    .ranking {
    }

    .ranking ul {
        list-style: none;
        padding: 0px 25px 0px  75px;
    }

    .ranking ul li {
        width: 90%;

        height: 110px !important;

        padding: 0px 10px;
        margin: 10px;
        background-color: white;
    }

    .ranking ul li a:link,
    :visited {
        color: #181818;
        text-decoration: none;
    }

    .ranking img {
        float: right;
        position: relative;
        right: -8%;
        height: 110px;
        width: 140px;
        padding: 0;
    }

    .ranking .title {
        padding: 8px;
        font-size: 17px;
        margin: 0px;
        height: 55px;
        overflow: hidden;
        line-height: 21px;
        width: 60%;
    }

    .nums,
    .pers {
        padding: 8px;
        margin: 4px 0px 0px;
    }

    .pers {
        color: skyblue;
        font-weight: 800;
    }

    /*실시간 랭킹 요기까지*/
    .mainsec {
        padding: 15px 0px 30px 0px;
    }

    .mainsec ul li {
        margin: 3% 7%;
    }

    .mainsec ul li {
        width: 82%;
    }

    /*thr ~~*/
    .mainthr {
        padding: 2% 5%
    }

    .items2 {
        position: relative;
        right: 75px;
    }
}

/*  pc  */
@media screen and (min-width:1024px) {
    body {
        width: 804px;
        /*background-color: lightcyan;*/
    }
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    /* ie8 */
}
