/*  모바일  */
@media screen and (max-width:767px){
    #block2{
        width: 90%;
        margin: auto;
    }
    .thumbnail{
        min-width: 90%;
        height: 100%;

    }
    .thumbnail img{
        min-width: 100%;
        height: 100%;
    }
    .thumbnail b{
        font-size: 18px;
    }
    .thumbnail p{
        font-size: 13px;
    }
    .thumbnail .line{
        min-width: 100%
    }
   /*제목없애기*/
    #block1 b{
        display: none;
    }
    #searchbox{
        /*검색박스*/
        position: relative;
        width: 90%;
    }
    #search {
        /*검색안에칸*/
        width: 40%;
    }
    select{
        /*기준*/
        width: 20%;
    }
}

/*  태블릿  */
@media screen and (min-width:768px) and (max-width:1023px){
    #block1>b{
        width: 90%;
        margin-left: 20px;
    }
    #block2{
        width: 90%;
        margin: auto;
    }
    .thumbnail{
        min-width: 46.5%;
        min-height: 35%;
        margin: 5px 10px 10px ;
    }
    .thumbnail img{
        min-width: 100%;
        height: 100%;
    }
    .thumbnail b{
        font-size: 20px;
    }
    .thumbnail p{
        font-size: 11px;
    }
    .thumbnail .line{
        min-width: 100%;
    }
}

/*  pc  */
@media screen and (min-width:1024px){
    /*body{
        width: 804px;
       background-color: lightcyan;
    }
    #last_menu{
      width:804px;
    }*/
}

img {
	/*max-width: 100%;
	height: auto;
	width: auto\9;  ie8 */
}
