/*  모바일  */
@media screen and (max-width:767px) {
    body {
        /*background-color:ivory;*/
        width: 90%;
        font-size: 0.79em;
    }

    /*
    1. 전체 프레임
    2. 셀펀 로고 및 소개
    3. 펀딩 단계
    4. 서로 다른 관점에서의 셀펀
    5. 셀펀의 장점 3
    6. 펀딩 신청 규약
    7. 펀딩 시작하기 버튼
*/

    /*  1. 전체 프레임   */
    * {
        margin: 0;
        padding: 0;
    }

    /*  2. 셀펀 로고 및 소개   */

    #logoex {
        padding: 5%;
    }

    #logoex h4 {}

    #logoex img {}

    #logoex p {}

    /*  3. 펀딩 단계    */

    #maru{
        padding: 5%
    }

    #fnd{
        font-size:1.2em;
        padding: 3%;
    }
    #maru img {}

    #maru1 p {
        width: 90%;
        padding: 3%;
        margin: 10px auto;
    }

    #maru1 {
        padding: 1% 3%;
    }

    #startProject {
        font-size: 18px;
        width: 200px; height: 25px;
        padding: 12px
    }

    /*  4. 서로 다른 관점에서의 셀펀   */
    #for {
        padding: 5%;
    }

    #fors {
        width: 280px;
        padding: 5%;
    }

    #forwho {}

    #makeline {}

    #brandline {}

    #campline {}

    #tit {
        font-size: 1.4em;
        padding: 4% !important;
    }
    #exps{
        font-size: 1.2em;
    }
    #exp {
        font-size: 1.2em;


    }

    #makebtn {}

    #brandbtn {}

    #campbtn {}

    /*  5. 셀펀의 장점   */
    #hs{
        font-size: 25px !important;
        padding: 5px;
    }
    #for #hs{
        padding: 0px 40px;
    }
    /*  6. 펀딩 신청 규약 */
    #strtproj {}

    #strtproj #fors {
        padding: 1% 3%;
        margin: 1%;
    }

    #strtproj #tit {
        text-align: center;
    }

    #strtproj #exp {}


    /*  7. 펀딩 시작하기 버튼 */
    #start {}

    #last1 {}



}

/*  태블릿  */


@media screen and (min-width:768px) and (max-width:1023px) {
    body {
        /*background-color:lightblue;*/
    }
    #logoex{
        padding: 2% 5%;
    }
    #maru{
        padding: 5%;
    }
    #maru1{
        padding: 3%;
    }
    #maru>p{
        font-size: 1.3em;
    }
    #for{
        padding: 2% 5%;
    }
    #fors{
        padding: 1%;
        width: 28%;
        height: auto;
    }
    #tit{
        font-size: 1.05em;
    }
    #exp{
        height: 170px;
    }
    thr{
        height: 200px !important;
    }
    #start, #last1{
        position: relative;
        bottom: 40px;
    }
    #makeline, #brandline, #campline{
        width: 40%;
    }


}

/*  pc  */
@media screen and (min-width:1024px) {
    body {
        width: 804px;
        /*background-color: lightcyan;*/
    }
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    /* ie8 */
}
