/*  모바일  */
@media screen and (max-width:767px) {
    /*좋아요*/
    #likeorder{
        width: 100%;
    }
    #left {
        width: 50%;
        float: left;
    }

    #right {
        width: 49.7%;
        float: right;
    }

    .like {
        width: 90%;
        display: inline-block;
        margin-left: 25px;
    }

    .like img {
        height: 300px;
    }

    .like b{
        font-size: 15px;
    }

    #heart1 {
        position: relative;
        left: 310px;
        top: 296px;
    }

    #heart2 {
        position: relative;
        left: 310px;
        top: 296px;
    }

    #heart3 {
        position: relative;
        left: 310px;
        top: 296px;
    }
    /*좋아요*/
    /*주문배송*/
    .date{
        margin-left: 20px;
    }
    .orderimg{
        width: 12%;
        margin-left: 20px;
    }
    .epil{
        margin-left: 20px;
        width: 94%;
    }
    .inquire{
        margin-right: 20px;
    }
    .text{
        width: 80%;
        font-size: 12px;
        margin: 20px 0px 0px;
    }
}

/*  태블릿  */
@media screen and (min-width:768px) and (max-width:1023px) {
    /*좋아요*/
    #likeorder{
    width: 100%;
}
    #left {
        width: 50%;
        float: left;
    }

    #right {
        width: 49.8%;
        float: right;
    }
    .likebox{
        width: 80%;

    }
    .like{
        width: 28.5%;
    }
    .like img{
        width: 100%;
    }
    #heart1 {
        font-size: 23px;
        position: relative;
        left: 145px;
        top: 245px;
    }

    #heart2 {
        font-size: 23px;
        position: relative;
        left: 145px;
        top: 245px;
    }

    #heart3 {
        font-size: 23px;
        position: relative;
        left: 145px;
        top: 245px;
    }
    /*좋아요*/
    /*주문배송*/
    .date{
        margin-left: 20px;
    }
    .orderimg{
        margin-left: 20px;
    }
    .epil{
        margin-left: 20px;
        width: 96%;
    }
    .inquire{
        margin-right: 20px;
    }
    .text{
        font-size: 14px;
        margin: 20px 0px 0px;
    }

/*  pc  */
@media screen and (min-width:1024px) {

}

img {

}
