@media screen and (max-width:767px){
/*    goods css 시작*/
    #event1{padding: 0px;margin: 0px;}
    #event1 #div_img1{float:left;}
/*    goods css 끝*/
}
@media screen and (min-width:768px) and (max-width:1023px){
    /*    goods css 시작*/
    #event1{padding: 0px;margin-left: 80px;}
    #event1 #div_img1{float:right;}
    /*    goods css 끝*/
}
@media screen and (min-width:1024px){
    /*    goods css 시작*/
    #event1{padding: 0px;margin: 0px;}
    #event1 #div_img1{float:right;}
    /*    goods css 끝*/
}
