@media screen and (max-width:767px){
/*    goods css 시작*/
    #event1{padding: 0px;margin: 0px;}
    #event1 #div_img1{float:left;text-align: right;width:39%;}
    #event1 #section1{width:54%;}
/*    goods css 끝*/
}
@media screen and (min-width:768px) and (max-width:1023px){
    /*    goods css 시작*/
    #event1{padding: 0px;margin-left: 30px;}
    #event1 #div_img1{float:right;width:25%;}
    #event1 #section1{width:65%;}
    /*    goods css 끝*/
}
@media screen and (min-width:1024px){
    /*    goods css 시작*/
    #event1{padding: 0px;margin: 0px;}
    #event1 #div_img1{float:right;text-align: right;width:25%;}
    #event1 #section1{width:65%;}
    /*    goods css 끝*/
}
